<!DOCTYPE html>
{% extends 'base.html' %}

<!-- Block Title  ----------------------------------------------------------->
{% block title %}
	{{ accion }}
{% endblock title %}

<!-- Block Header  ---------------------------------------------------------->
{% block header %}
{% endblock header %}

<!-- Block Main - ----------------------------------------------------------->
{% block main %}
	<div class="wrapper">
		{% block sidebar %}
			{% include 'sidebar.html' %}
		{% endblock sidebar %}
		
		{% block maincomponent %}
			<!-- Main Component Start -->
			<div class="main">
				{% block buttonsidebartoggle %}
					{% include 'buttonsidebartoggle.html' %}
				{% endblock buttonsidebartoggle %}
				
				{% block principalcomponent %}
					<div class="container-fluid">
						
						<div class="card border-light mb-3 mt-2">
							<div class="card-header text-white bg-primary opacity-75 d-flex
									justify-content-between">
								{{ accion }}
								<button type="button" class="btn-close btn-close-white" 
									aria-label="Close"
									onclick="window.location.href='{% url url_list %}'">
								</button>
							</div>
							
							<div class="card-body bg-body-secondary">
								
								<!-- Fomulario ******************************************* -->
								<form method="post" class="needs-validation" novalidate>
									{% csrf_token %}
									<!-- Inputs -->
									<div class="row">
										
										<div class="col-md-12">
											<label 
													for="{{form.nombre_familia_activo.id_for_label}}"
													class="form-label text-primary">
												Nombre Familia Activo
											</label>
											{{ form.nombre_familia_activo }}
											<div class="invalid-feedback">
												{{ form.nombre_familia_activo.errors }}
											</div>
										</div>
										
									</div>
									
									<div class="row">
										
										<div class="col-md-5">
											<label 
													for="{{ form.cta_compra.id_for_label }}"
													class="form-label text-primary">
												Cuenta de Compra
											</label>
											{{ form.cta_compra }}
											<div class="invalid-feedback">
												{{ form.cta_compra.errors }}
											</div>
										</div>
										
										<div class="col-md-5">
											<label 
													for="{{ form.cta_venta.id_for_label }}"
													class="form-label text-primary">
												Cuenta de Venta
											</label>
											{{ form.cta_venta }}
											<div class="invalid-feedback">
												{{ form.cta_venta.errors }}
											</div>
										</div>
										
									</div>
									
									<div class="row">
										
										<div class="col-md-5">
											<label 
													for="{{ form.nc_compra.id_for_label }}"
													class="form-label text-primary">
												NC Compra
											</label>
											{{ form.nc_compra }}
											<div class="invalid-feedback">
												{{ form.nc_compra.errors }}
											</div>
										</div>
										
										<div class="col-md-5">
											<label 
													for="{{ form.nc_venta.id_for_label }}"
													class="form-label text-primary">
												NC Venta
											</label>
											{{ form.nc_venta }}
											<div class="invalid-feedback">
												{{ form.nc_venta.errors }}
											</div>
										</div>
										
									</div>
									
									<div class="row">
										
										<div class="col-md-5">
											<label for="{{ form.nd_compra.id_for_label }}"
												class="form-label text-primary">ND Compra</label>
											{{ form.nd_compra }}
											<div class="invalid-feedback">
												{{ form.nd_compra.errors }}
											</div>
										</div>
										
										<div class="col-md-5">
											<label 
													for="{{ form.nd_venta.id_for_label }}"
													class="form-label text-primary">
												ND Venta
											</label>
											{{ form.nd_venta }}
											<div class="invalid-feedback">
												{{ form.nd_venta.errors }}
											</div>
										</div>
										
									</div>
									
									<!-- Botones -->
									<div class="container mt-3">
										<button type="submit" class="btn btn-primary">
											Guardar
										</button>
										<a href="{% url url_list %}" class="btn btn-secondary">
											Cancelar
										</a>
									</div>
									
								</form>
								<!-- Fomulario Fin *************************************** -->
								
							</div>
						</div>
					</div>
				
				{% endblock principalcomponent %}
			</div>
		{% endblock maincomponent %}
	</div>
{% endblock main %}

<!-- Block Fotter ---------------------------------------------------------------------------------------->
{% block footer %}
{% endblock footer %}