{% extends 'base.html' %}

<!-- Block Title  ----------------------------------------------------------->
{% block title %}
	{{ titulo }}
{% endblock title %}

<!-- Block Header  ---------------------------------------------------------->
{% block header %}
{% endblock header %}

<!-- Block Main - ----------------------------------------------------------->
{% block main %}
	<div class="wrapper">
		{% block sidebar %}
			{% include 'sidebar.html' %}
		{% endblock sidebar %}

		{% block maincomponent %}
			<!-- Main Component Start -->
			<div class="main">
				{% block buttonsidebartoggle %}
					{% include 'buttonsidebartoggle.html' %}
				{% endblock buttonsidebartoggle %}

				{% block principalcomponent %}
					<div class="container-fluid">
						<div class="card border-light mb-3 mt-2">
							<div class="card-header text-white bg-primary opacity-75 d-flex 
									justify-content-between">
								<h3>{{ titulo }}</h3>
								<button type="button" class="btn-close btn-close-white" 
									aria-label="Close"
									onclick="window.location.href='{% url url_inicio %}'">
								</button>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col col-10">
										<form method="get">
											<div class="input-group flex-nowrap">
												<span class="input-group-text">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" 
														height="16" fill="currentColor"
														class="bi bi-search" viewbox="0 0 16 16">
														<path
															d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
													</svg>
												</span>
												<input type="text" class="form-control" name="buscar" 
													value="{{ buscar }}" placeholder="Buscar" 
													autocomplete="off">
												<button class="btn btn-outline-primary">
													Buscar
												</button>
											</div>
										</form>
									</div>

									<div class="col col-2">
										<a href="{% url url_create %}" 
												class="btn btn-primary opacity-75">
											Nuevo
										</a>
									</div>
									
								</div>
								<div class="table-responsive mt-3">
									<table class="table table-striped">
										<thead class="table-primary">
											<tr>
												<th class="col-2">Ubicación</th>
												<th class="col-8">Ubicación Física</th>
												<th class="col-2">Opciones</th>
											</tr>
										</thead>
										<tbody>
											{% for dato in datos %}
												<tr>
													<td>{{ dato.nombre_ubicacion }}</td>
													<td>{{ dato.ubicacion_fisica }}</td>
													<td>
														<!-- Botón Editar -->
														<a href="{% url url_update dato.pk %}"
																class="btn btn-info text-white btn-sm">
															Editar
														</a>
														<!-- Botón Eliminar -->
														<a href="{% url url_delete dato.pk %}"
																class="btn btn-danger text-white btn-sm">
															Eliminar
														</a>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									
									{% block paginador %}
										{% include 'paginador.html' %}
									{% endblock %}
									
								</div>
							</div>
						</div>
					</div>
				{% endblock principalcomponent %}
			</div>
		{% endblock maincomponent %}
	</div>
{% endblock main %}