<aside id="sidebar">
	<div class="h-100">
		<div class="sidebar-logo">
			<a href="{% url 'inicio' %}">SigcoERP</a>
		</div>

		<!-- Sidebar Navigation Start -->
		<ul class="sidebar-nav">

			<!-- Archivos -->
			<li class="sidebar-item">
				<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#archivos"
					aria-expanded="false" aria-controls="multi">
					<i class="fa-regular fa-file-lines pe-2"></i>
					Archivos
				</a>

				<ul id="archivos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<!-- Subnivel 1 - Catálogos -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#catalogos"
							aria-expanded="false" aria-controls="catalogos">
							Catálogos
						</a>

						<ul id="catalogos" class="sidebar-dropdown list-unstyled collapse">
							<!-- Segundo subnivel - Productos -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Productos</a>
							</li>
							<!-- Segundo subnivel - Lista de Precios -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Lista de Precios</a>
							</li>
						</ul>
					</li>

					<!-- Subnivel 1 - Tablas -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#tablas"
							aria-expanded="false" aria-controls="tablas">
							Tablas
						</a>

						<ul id="tablas" class="sidebar-dropdown list-unstyled collapse">
							
							<!-- Tercer subnivel - Unidades -->
							<li class="sidebar-item">
								<a href="{% url 'unidad_list' %}" class="sidebar-link">Unidades</a>
							</li>
							
							<!-- Tercer subnivel - Familias -->
							<li class="sidebar-item">
								<a href="{% url 'clas_producto_list' %}" class="sidebar-link">Familias</a>
							</li>
							
							<!-- Tercer subnivel - Sub Familias -->
							<li class="sidebar-item">
								<a href="{% url 'clas_producto_det_list' %}" class="sidebar-link">Sub Familias</a>
							</li>
							
							<!-- Tercer subnivel - Marcas -->
							<li class="sidebar-item">
								<a href="{% url 'marca_list' %}" class="sidebar-link">Marcas</a>
							</li>
							
							<!-- Tercer subnivel - Modelos -->
							<li class="sidebar-item">
								<a href="{% url 'modelo_list' %}" class="sidebar-link">Modelos</a>
							</li>
							
							<!-- Tercer subnivel - Ubicaciones -->
							<li class="sidebar-item">
								<a href="{% url 'ubicacion_list' %}" class="sidebar-link">Ubicaciones</a>
							</li>
							
							<!-- Tercer subnivel - Códigos SUNAT -->
							<li class="sidebar-item">
								<a href="{% url 'codigo_sunat_list' %}" class="sidebar-link">Códigos SUNAT</a>
							</li>
							
							<!-- Tercer subnivel - Códigos Unidad SUNAT -->
							<li class="sidebar-item">
								<a href="{% url 'unidad_sunat_list' %}" class="sidebar-link">Códigos Unidad SUNAT</a>
							</li>
							
							<!-- Tercer subnivel - Colores -->
							<li class="sidebar-item">
								<a href="{% url 'color_list' %}" class="sidebar-link">Colores</a>
							</li>
							
							<!-- Tercer subnivel - Tipos Documento Identidad -->
							<li class="sidebar-item">
								<a href="{% url 'tipo_documento_identidad_list' %}" class="sidebar-link">Tipos Documento Identidad</a>
							</li>
							
							<!-- Tercer subnivel - Ubigeos -->
							<li class="sidebar-item">
								<a href="{% url 'ubigeo_list' %}" class="sidebar-link">Ubigeos</a>
							</li>
							
							<!-- Tercer subnivel - Formas de Pago -->
							<li class="sidebar-item">
								<a href="{% url 'forma_pago_list' %}" class="sidebar-link">Formas de Pago</a>
							</li>
							
							<!-- Tercer subnivel - Familias Servicio -->
							<li class="sidebar-item">
								<a href="{% url 'clas_servicio_list' %}" class="sidebar-link">Familias Servicio</a>
							</li>
							
							<!-- Tercer subnivel - Familias Gasto -->
							<li class="sidebar-item">
								<a href="{% url 'clas_gasto_list' %}" class="sidebar-link">Familias Gasto</a>
							</li>
							
							<!-- Tercer subnivel - Familias Insumo -->
							<li class="sidebar-item">
								<a href="{% url 'clas_insumo_list' %}" class="sidebar-link">Familias Insumo</a>
							</li>
							
							<!-- Tercer subnivel - Familias Activo -->
							<li class="sidebar-item">
								<a href="{% url 'clas_activo_list' %}" class="sidebar-link">Familias Activo</a>
							</li>
							
							<!-- Tercer subnivel - Monedas -->
							<li class="sidebar-item">
								<a href="{% url 'moneda_list' %}" class="sidebar-link">Monedas</a>
							</li>
							
							<!-- Tercer subnivel - Tipos de Cambio -->
							<li class="sidebar-item">
								<a href="{% url 'tipo_cambio_list' %}" class="sidebar-link">Tipos de Cambio</a>
							</li>
							
							<!-- Tercer subnivel - Documentos SUNAT -->
							<li class="sidebar-item">
								<a href="{% url 'documento_sunat_list' %}" class="sidebar-link">Documentos SUNAT</a>
							</li>
							
							<!-- Tercer subnivel - Zonas -->
							<li class="sidebar-item">
								<a href="{% url 'zona_list' %}" class="sidebar-link">Zonas</a>
							</li>
							
							<!-- Tercer subnivel - Sub Zonas -->
							<li class="sidebar-item">
								<a href="{% url 'sub_zona_list' %}" class="sidebar-link">Sub Zonas</a>
							</li>
							
							<!-- Tercer subnivel - Bancos -->
							<li class="sidebar-item">
								<a href="{% url 'banco_list' %}" class="sidebar-link">Bancos</a>
							</li>
							
							<!-- Tercer subnivel - Caja Bancos -->
							<li class="sidebar-item">
								<a href="{% url 'caja_banco_list' %}" class="sidebar-link">Caja/Bancos</a>
							</li>
							
							<!-- Tercer subnivel - Paises -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Países</a>
							</li>
							
							<!-- Tercer subnivel - Personas Cargo -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Personas Cargo</a>
							</li>
							
							<!-- Tercer subnivel - Agendas Rubro -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Agendas Rubro</a>
							</li>
							
						</ul>
					</li>
					
					<!-- Subnivel 1 - Aperturas -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#aperturas"
							aria-expanded="false" aria-controls="aperturas">
							Aperturas
						</a>
						
						<ul id="aperturas" class="sidebar-dropdown list-unstyled collapse">
							<!-- Tercer subnivel - Inventario -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Inventario</a>
							</li>
							<!-- Tercer subnivel - Cuentas por Cobrar -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Cuentas por Cobrar</a>
							</li>
							<!-- Tercer subnivel - Cuentas por Pagar -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Cuentas por Pagar</a>
							</li>
							
							<!-- Tercer subnivel - Saldos -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Saldos</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			
			<!-- Procesos -->
			<li class="sidebar-item">
				<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#procesos"
					aria-expanded="false" aria-controls="multi">
					<i class="fa-regular fa-file-lines pe-2"></i>
					Procesos
				</a>
				
				<ul id="procesos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<!-- Subnivel 1 - Catálogos -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#almacen"
							aria-expanded="false" aria-controls="almacen">
							Almacen
						</a>
						
						<ul id="almacen" class="sidebar-dropdown list-unstyled collapse">
							<!-- Segundo subnivel - Guia Ingreso -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Guia Ingreso</a>
							</li>
							<!-- Segundo subnivel - Guia Salida -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Guia Salida</a>
							</li>
							<!-- Segundo subnivel - Guia Transferenci -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Guia Transferencia</a>
							</li>
						</ul>
					</li>
					
					<!-- Subnivel 1 - Tablas -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#compras"
							aria-expanded="false" aria-controls="compras">
							Compras
						</a>
						
						<ul id="compras" class="sidebar-dropdown list-unstyled collapse">
							<!-- Tercer subnivel - Orden Compra -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Orden Compra</a>
							</li>
							<!-- Tercer subnivel - Factura Compra -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Factura Compra</a>
							</li>
							<!-- Tercer subnivel - Factura Vinculada -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Factura Vinculada</a>
							</li>
						</ul>
					</li>
					
					<!-- Subnivel 1 - Ventas -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#ventas"
							aria-expanded="false" aria-controls="ventas">
							Ventas
						</a>
						
						<ul id="ventas" class="sidebar-dropdown list-unstyled collapse">
							<!-- Tercer subnivel - Pedido Venta -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Pedido Venta</a>
							</li>
							<!-- Tercer subnivel - Facturación -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Facturación</a>
							</li>
							<!-- Tercer subnivel - Anular Factura -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Anular Factura</a>
							</li>
							
							<!-- Tercer subnivel - Proforma -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Proforma</a>
							</li>
						</ul>
					</li>
					
					<!-- Subnivel 1 - e-Factura -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#efactura"
							aria-expanded="false" aria-controls="efactura">
							e-Factura
						</a>
						
						<ul id="efactura" class="sidebar-dropdown list-unstyled collapse">
							<!-- Tercer subnivel - e-Factura -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">e-Factura</a>
							</li>
							<!-- Tercer subnivel - e-Punto Venta -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">e-Punto Venta</a>
							</li>
							<!-- Tercer subnivel - e-Nota Crédito -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">e-Nota Crédito</a>
							</li>
							
							<!-- Tercer subnivel - e-Nota Débito -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">e-Nota Débito</a>
							</li>
							
							<!-- Tercer subnivel - e-Retención -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">e-Retención</a>
							</li>
							
							<!-- Tercer subnivel - e-Venta Pedidos -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">e-Venta Pedidos</a>
							</li>
							
							<!-- Tercer subnivel - e-Guia Remisión -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">e-Guia Remisión</a>
							</li>
							
							<!-- Tercer subnivel - CPE - SUNAT -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">CPE - SUNAT</a>
							</li>
						</ul>
					</li>
					
					<!-- Subnivel 1 - Producción -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#produccion"
							aria-expanded="false" aria-controls="produccion">
							Producción
						</a>
						
						<ul id="produccion" class="sidebar-dropdown list-unstyled collapse">
							<!-- Tercer subnivel - Vale de Salida -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Vale de Salida</a>
							</li>
							<!-- Tercer subnivel - Ingreso de Producción -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Ingreso de Producción</a>
							</li>
							<!-- Tercer subnivel - Lotes -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Lotes</a>
							</li>
							
							<!-- Tercer subnivel - Conceptos -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Conceptos</a>
							</li>
							
							<!-- Tercer subnivel - Operaciones -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Operaciones</a>
							</li>
							
							<!-- Tercer subnivel - Fórmulas -->
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">Fórmulas</a>
							</li>
							
						</ul>
					</li>
					
				</ul>
			</li>
			
			<!-- Informes -->
			<li class="sidebar-item">
				<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#informes"
					aria-expanded="false" aria-controls="pages">
					<i class="fa-regular fa-window-restore pe-2"></i>
					Informes
				</a>
				<ul id="informes" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item">
						<a href="#" class="sidebar-link">Pedidos</a>
					</li>
					<li class="sidebar-item">
						<a href="#" class="sidebar-link">Facturación</a>
					</li>
					<li class="sidebar-item">
						<a href="#" class="sidebar-link">Compras</a>
					</li>
				</ul>
			</li>
			
			<!-- Dashboard -->
			<li class="sidebar-item">
				<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
					aria-expanded="false" aria-controls="dashboard">
					<i class="fa-solid fa-sliders pe-2"></i>
					Dashboard
				</a>
				<ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item">
						<a href="#" class="sidebar-link">Dashboard Analytics</a>
					</li>
					<li class="sidebar-item">
						<a href="#" class="sidebar-link">Dashboard Ecommerce</a>
					</li>
				</ul>
			</li>
			
			<!-- Configuracion -->
			<li class="sidebar-item">
				<a href="#" class="sidebar-link">
					<i class="fa-solid fa-gear pe-2"></i>
					Configuración
				</a>
			</li>
			
			<!-- Usuarios -->
			{% if user.is_authenticated and user.is_staff %}
			<li class="sidebar-item">
				<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#usuarios"
					aria-expanded="false" aria-controls="auth">
					<i class="fa-regular fa-user pe-2"></i>
					Usuarios
				</a>
				<ul id="usuarios" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item">
						<a href="{% url 'grupo_listar' %}" class="sidebar-link">Grupos</a>
					</li>
					<li class="sidebar-item">
						<a href="{% url 'usuario_listar' %}" class="sidebar-link">Usuarios</a>
					</li>
				</ul>
			</li>
			{% endif %}
			
			<!-- Usuario -->
			<li class="sidebar-item">
				<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#usuario"
					aria-expanded="false" aria-controls="auth">
					<i class="fa-regular fa-user pe-2"></i>
					Usuario
				</a>
				<ul id="usuario" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					{% if not user.is_authenticated%}
					<li class="sidebar-item">
						<a href="{% url 'iniciar_sesion' %}" class="sidebar-link">Iniciar Sesión</a>
					</li>
					{% else %}
					<li class="sidebar-item">
						<a href="{% url 'cerrar_sesion' %}" class="sidebar-link">Cerrar Sesión</a>
					</li>
					{% endif %}
				</ul>
			</li>

		</ul>
		<!-- Sidebar Navigation End -->
	</div>
</aside>